/* header-area */
*{
    margin: 0;
    padding: 0;
}

.menu_area {
    background-color: hsla(345, 91%, 34%, 0.834) ;
    text-align: center;
  }
  .menu_titel {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .menu_area li {
    width: 100px;
    margin: 6px;
    padding: 10px;
    font-size: x-large;
  }
  .menu_area ul li a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.588);
  }
  .menu_area ul li:hover {
    background: rgb(134, 158, 87);
    border-radius: 8%;
  }
.header-area {
	background-image: url('../images/banner/banner3.png');
	text-align: right;
	width: 100%;
	display: flex;
	justify-content: end;
    min-height: 808px;
    align-items: center;
}
.header-contant {
	/* padding: 300px 150px 250px 850px; */
	/* text-align: right; */
	width: 300px;
	margin-right: 10%;
    
}
.header-title{
    margin-bottom: 24px;
    color: white;
   

}
.header-description{
    margin-bottom: 24px;
    color: white;
   
}
.btn-primary{
    color:#005FAC;
    background-color: wheat;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    padding: 18px 35px;
}
.about{
    display: flex;
    align-items: end;

   
}
.about-img img{
    margin-top: 100px;
    margin-left: 150px;

}
.about-content {
	margin-bottom: 90px;
	margin-left: 50px;
}
.about-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;

}
.about-pra {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    width: 344px;
    line-height: 22px;
}
.about-icon{
   
}
.icon-img{
    margin-top: 10px;
    display: inline-block;
}
.icon-contant{
    color: #444343;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.plan-section {
	margin-top: 100px;
}
.plan-title{
    color: #151414;
text-align: center;
 margin-bottom: 50px;
 font-weight: 700;
 font-size: 40px;

}
.my-plans {
    display: flex;
    justify-content: space-around;
    width: 1088px;
    margin: 0 auto;
}
.my-plan {
    text-align: center;
}
.my-plan h3{
    color: #151414;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;

}
.my-plan p{
    color: #151414;
    font-size: 18px;
    line-height: 20px;

}
.cta_area {
    background-image: url(../images/watch.png);
    min-height: 301px;
    background-repeat: no-repeat;
    width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
.gradaint_area {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    width: 1140px;
    height: 301px;
    display: flex;
    align-items: center;
    padding-left: 69px;
    border-radius: 5px;
}
.cta_contant h2 {
    color: #FFFFFF;
    font-weight: 700;
   font-size: 40px;
   line-height: 47px;
   margin-bottom: 24px;
}
button.cta_button {
    background: #fff;
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}
.footer_area {
    color: #fff;
    background: #151414;
    height: 500px;
    display: flex;
    align-items: center;
}
.footer_title_area {
    width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.footer_titel h3{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.footer_titel p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 16px;
    width: 500px;
}
.footer_titel a img {
    margin-right: 5px;
    width: 40px;
}
.footer_Subscribe h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 31px;

}
.footer_Subscribe input {
    color: rgb(243, 243, 243);
    font-weight: 400;
    font-size: 16px;
    background: none;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 16px;
    width: 310px;
    height: 64px;
}
.footer_Subscribe button {
    background: #005FAC;
    width: 170px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}